body {
  background-color: #fefefe;
  text-align: center;

  .navbar {
    background: #21374B;
    color: #E7DACB;
    height: 50px;
  }

  h1 {
    font-size: 40px;
    margin-top: 30px;
  }

  h2 {
    color: #ffffff;
  }

  .board-list{
    border: 3px solid salmon;
  }

  .name-form {
    padding : 10px;
    color:#ffffff;
    font-weight: bold;
    background-color: blue;
  }

  .flex-row {
    display: flex;
    justify-content: space-around;
  }
  .col-4 {
    width: 33%;
    background-color: #E7DACB;
    border: 3px solid brown;
  }

  .CPDform {
    background-color: #0052CC;
    border-radius: 10px;
    margin: 10em;
    padding: 1em;

  }

  .newForm {
    background-color: #70AD47;
    border-color:#669E40;
    border-radius: 5px 0px;
    padding: 0.5em;
    margin: 0.5em;
    color: #000000;
  } 


}